<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esajuhana.ratemypartner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.esajuhana.ratemypartner.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:parentActivityName="com.esajuhana.ratemypartner.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.esajuhana.ratemypartner.MainActivity" />
        </activity>
        <activity
            android:name=".LoginOAuthActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
